/* Colors */

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-background: #F2F2F2;
  --basic-dark: #333333;
  --main-background: #EEEEEE;

  --basic-black-03: rgba(0, 0, 0, 0.3);
  --basic-white-09: rgba(255, 255, 255, 0.9);
  --basic-white-03: rgba(255, 255, 255, 0.3);

  --shadow: rgba(0, 1, 1, 0.2);
  --shadow-form: rgba(0, 1, 1, 0.15);

  --dark-gray: #666666;
  --gray: #6A6A6A;
  --lightgray: #A9A9A9;
  --very-lightgray: #ABABAB;

  --accent-color: #81B3D2;
  --accent-hover: #669EC0;
  --accent-active: #5496BD;

  --secondary-color: #766357;
  --secondary-hover: #604E43;
  --secondary-active: #503E33;

  --input-hover: #EBEBEB;
  --input-active: #E5E5E5;

  --background-img-index: #BCD0E0;
  --background-img-catalog: #67717B;

  /* Акцентные цвета вроде более-менее исправила, но цветами ниже ничего в олову не приходит */

  --detail-color-first: #CACACA;
  --detail-color-second: #BDBBBC;
  --detail-color-third: #231F20;
}

/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
}


/* Global */

body {
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-black);
  background: var(--basic-background);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  overflow: hidden;
  white-space: nowrap;
}

.button {
  font-family: inherit;
  font-weight: bold;
  text-transform: inherit;
  border: none;
  color: var(--basic-white);
  cursor: pointer;
}

.input {
  border: none;
  outline-color: var(--gray);
}

.wrapper {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--shadow);
}

/* header */

.main-nav {
  font-weight: bold;
  line-height: 26px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.main-nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 15px 72px;
  list-style: none;
}

.main-nav-item {
  width: 20%;
}

.main-nav-item a:hover {
  color: var(--accent-color);
}

.main-nav-item a:active {
  color: var(--basic-black-03);
}

.main-nav-list li:nth-child(4n+2) {
  margin-right: 20%;
}

.main-nav-list li:nth-child(4n+1),
.main-nav-list li:nth-child(4n+2) {
  text-align: left;
}

.main-nav-list li:nth-child(4n+3),
.main-nav-list li:nth-child(4n+4) {
  text-align: right;
}


/* Footer */
.index-footer {
  background-color: var(--basic-white);
}

.index-footer-map {
  width: 100%;
  height: 594px;
  line-height: 0;
}

.all-contacts {
  height: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  background-color: var(--basic-white-09);
}

.footer-contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.footer-contacts a {
  color: var(--basic-black);
}

.social-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: auto;
  padding: 0;
}

.social-link {
  display: flex;
  width: 46px;
  height: 48px;
  margin: 0 6px;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
}

.twitter::before {
  display: flex;
  width: 17px;
  height: 17px;
  content: "";
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
}

.facebook::before {
  display: flex;
  width: 12px;
  height: 22px;
  content: "";
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
}

.youtube::before {
  display: flex;
  width: 20px;
  height: 16px;
  content: "";
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
}

.social-link:hover {
  background-color: var(--accent-hover);
}

.social-link:active {
  fill: var(--basic-white-03);
  background-color: var(--accent-active);
}

.copyright {
  display: flex;
  align-items: center;
  margin: auto;
}

.copyright a:active path {
  fill: var(--accent-color);
}

.copyright a:hover path {
  fill: var(--basic-black-03);
}

/* Main */

.intro-img {
  position: relative;
  height: 509px;
  background-color: var(--background-img-index);
  background-image: url(../img/background-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-img img {
  margin-left: auto;
  margin-right: auto;
  padding-top: 77px;
}

.intro-img::after {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 57px;
  left: 0;
  content: "";
  background-image: url(../img/Shape.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.page-title {
  width: 470px;
  margin: 42px auto 43px auto;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.features-lead {
  width: 509px;
  margin: 43px auto 51px auto;
  line-height: 26px;
  color: var(--basic-darck);
  background-color: var(--basic-white);
}

.features {
  background-color: var(--main-background);
}

.features-list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr;
  counter-reset: section;
  list-style: none;
}

.features-item-img {
  grid-column: span 2;
}

.features-item-big {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/-1;

  background-color: var(--accent-color);
}

.features-item-big:nth-child(even) {
  direction: rtl;
}

.features-sublist {
  /* height: 330px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/-1;
  margin: 0;
  padding: 0 0 54px 0;
  list-style: none;
  background-color: var(--basic-white);
}

.features-sublist .features-item {
  padding-top: 160px;
  background-repeat: no-repeat;
  background-position: center 60px;
}

.house {
  background-image: url(../img/icon-1.svg);
}

.food {
  background-image: url(../img/icon-2.svg);
}

.features-item .souvenirs {
  background-image: url(../img/icon-3.svg);
  background-position: center 55px;
}

.features-item-title {
  width: 150px;
  margin: 0 auto;
  font-size: 21px;
  color: var(--basic-black);
}

.features-sublist .features-item-title::after {
  content: none;
}

.features-item-title::after {
  display: flex;
  margin-top: 26px;
  justify-content: center;
  counter-increment: section;
  content: " — №" counter(section) " —";
  font-size: 14px;
  font-weight: normal;
}

.features-item-min {
  padding-bottom: 54px;
}

.features-item-min .features-item-title {
  padding: 45px 50px 25px 48px;
}

.features-item-min p {
  width: 258px;
  margin: 0 auto;
}

.features-item-info {
  padding: 47px 52px 54px 47px;
  height: 156px;
}

.features-item-info .features-item-title {
  /* margin: 47px auto 0 auto; */
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-white);
}

.features-item-big p {
  width: 305px;
  margin: 25px auto 0 auto;
  font-size: 14px;
  font-weight: normal;
  color: var(--basic-white);
}

.features-sublist p {
  width: 300px;
  padding-bottom: 27px;
  color: var(--basic-dark);
}

/* .search-form-block {
} */

.search-form-block {
  padding-top: 58px;
  background-color: var(--basic-white);
}

.search-form-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.search-form-block p {
  width: 435px;
  display: flex;
  align-items: center;
  margin: 27px auto 44px;
  line-height: 24px;
}

.button-search-form {
  width: 568px;
  height: 86px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--secondary-color);
}

.button-search-form:hover,
.button-search-form:focus {
  background-color: var(--secondary-hover);
}

.button-search-form:active {
  color: var(--basic-white-03);
  background-color: var(--secondary-active);
}

.search-form {
  width: 568px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: grid;
  padding: 55px;
  font-weight: bold;
  text-align: left;
  align-items: center;
  box-sizing: border-box;
  row-gap: 26px;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px var(--shadow-form);
}

.form-info {
  position: relative;
  display: grid;
  grid-template-columns: 112px 1fr;
  align-items: center;
}

.search-form .input {
  height: 38px;
  padding-left: 15px;
  font-family: inherit;
  font-weight: bold;
  color: var(--basic-black);
  text-transform: inherit;
  background-color: var(--basic-background);
}

.search-form .input:hover {
  background-color: var(--input-hover);
}

.search-form .input:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--input-active);
}

.button-calendar {
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translate(0, -50%);
  background: none;
  cursor: pointer;
}

.button-calendar:hover path,
.button-calendar:focus path {
  fill: var(--basic-black);
}

.button-calendar:active path {
  fill: var(--accent-color);
}

.form-counter {
  width: 39px;
  padding: 0;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--basic-background);
}

.form-counter:hover path {
  fill: var(--basic-black);
}

.form-counter:active path {
  fill: var(--accent-color);
}

.counts-block {
  grid-template-columns: 112px 114px 118px 114px;
  grid-column: 1/-1;
  padding: 0;
  margin: 3px 0 0;
  border: none;
}

.adults-count,
.childrens-count {
  display: flex;
}

.counts-block input {
  width: 36px;
  padding: 0;
  padding-left: 15px;
  box-sizing: border-box;
}

label[for="childrens-number"] {
  margin-left: 53px;
}

.search-form .to-find {
  font-size: 21px;
  line-height: 1.2;
}

.search-form .button[type="submit"]:hover,
.search-form .button[type="submit"]:focus {
  background-color: var(--accent-hover);
}
.search-form .button[type="submit"]:active {
  background-color: var(--accent-active);
  color: var(--basic-white-03);
}

.search-form .button[type="submit"] {
  grid-column: 1/-1;
  padding: 16px 0 17px;
  margin-top: 29px;
  background-color: var(--accent-color);
}

/* Catalog */

.catalog {
  background-color: var(--basic-white);
}

.filter-form {
  display: flex;
  text-align: start;
  padding: 27px 72px 32px 72px;
  color: var(--basic-white);
  background-color: var(--background-img-catalog);
  background-image: url(../img/background-catalog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-form-group {
  width: 22%;
  margin: 0;
  padding: 0;
  border: 0;
}

.filter-form-title {
  text-align: start;
  font-weight: bold;
  font-size: 16px;
  padding: 0 0 24px 0;
}

.filter-form-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-form-item {
  padding: 0 0 25px 0;
}

.filter-form-item+input::before {
  width: 27px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  border: none;
}

.filter-form-item checked+label::before {
  width: 27px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  border: none;
}

.filter-form-price {
  margin-left: auto;
  padding: 0;
  border: 0;
  text-align: center;
}

.filter-form-price p {
  display: flex;
  margin-top: 11px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 320px;
  height: 36px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.input-catalog {
  color: var(--basic-white);
  border: none;
  background-color: transparent;
}

.label-catalog {
  display: flex;
  width: 50%;
  margin: auto;
}

.label-catalog:first-child {
  border-right: 2px solid var(--basic-white);
}

.range {
  position: relative;
  margin-bottom: 33px;
}

.range .scale {
  height: 2px;
  background-color: var(--basic-white-03);
}

.range .bar {
  height: 2px;
  width: 100%;
  background-color: var(--basic-white);
}

.range .toggle {
  position: absolute;
  left: 0;
  width: 4px;
  height: 4px;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  background-color: var(--lightgray);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-sizing: content-box;
  box-shadow: 0 2px 1px 0 var(--lightgray);
}

.range .toggle:hover {
  width: 5px;
  height: 5px;
  border: 9px solid var(--basic-white);
}


.filter-form-button {
  width: 137px;
  height: 36px;
  margin-top: 33px;
  font-weight: normal;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background-color: transparent;
}

.sorting {
  display: flex;
  padding: 0 73px 30px 73px;
  border-bottom: 1px solid var(--input-active);
}

.sorting-results {
  font-weight: bold;
  padding: 29px 46px 0 0;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
}

.sorting-title {
  padding: 32px 40px 0 0;
  font-size: 12px;
  line-height: 18px;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-item {
  padding: 32px 32px 0 0;
  box-sizing: border-box;

}

.sorting-link {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black-03);
  border: none;
  border-bottom: 1px dotted var(--accent-color);
}

.sorting-link:hover {
  color: var(--accent-color);
}

.sorting-link:active {
  color: var(--basic-black);
  border: none;
}

.hotels {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.hotel-item {
  display: flex;
  padding: 0 72px;
  flex-wrap: wrap;
  text-align: start;
  border-bottom: 1px solid var(--input-active);
}

.hotel-img-link {
  margin: 30px 0;
}

.hotel-info {
  width: 258px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.about-hotel {
  width: 258px;
  margin-left: 29px;
}

.hotel-item-text {
  width: 50%;
  margin: 7px 0 0 0;
}

.hotel-item-name {
  margin: 24px 0 0 0;
}

.hotel-name-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.hotel-name-link:hover {
  color: var(--accent-color);
}

.hotel-name-link:active {
  color: var(--basic-black-03);
}

.button-light {
  margin: 16px 6px 0 0;
  padding: 3px 16px;
  background-color: var(--accent-color);
}

.button-light:hover {
  background-color: var(--accent-hover);
}

.button-light:active {
  color: var(--basic-white-03);
  background-color: var(--accent-active);
}

.button-dark {
  margin: 16px 0 0 0;
  padding: 3px 16px;
  background-color: var(--secondary-color);
}

.button-dark:hover {
  background-color: var(--secondary-hover);
}

.button-dark:active {
  color: var(--basic-white-03);
  background-color: var(--secondary-active);
}

.rating-wrapper {
  margin-left: auto;
}

.hotel-stars-4::before {
  position: absolute;
  width: 105px;
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
}

.hotel-stars-3::before {
  position: absolute;
  width: 85px;
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
}

.hotel-stars-2::before {
  position: absolute;
  width: 60px;
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
}

.hotel-item-rating {
  padding: 3px 12px 3px 15px;
  margin: 93px 0 30px 0;
  color: var(--dark-gray);
  background-color: var(--basic-background);
}

.footer {
  background-color: var(--basic-white-09);
}
